@model IEnumerable<OnlineTutorial.Model.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstructorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstructorGender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorGender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstructorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstructorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstructorID })
        </td>
    </tr>
}

</table>
